.navbar{
    width: 100%;
    padding:15px 5%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    z-index: 2;
}
p{
    margin: 0px 0px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo{
    width: 90px;
}
.nav-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile{
    border-radius: 4px;
    width: 45px;
}

.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown{
position: absolute;
top: 100%;
right: 0;
width: max-content;
background-color: #191919;
padding: 18px 22px;
border-radius: 2px;
text-decoration: underline;
z-index: 1;
display: none;
}

.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: block;
}